<ion-header>
  <ion-toolbar>
    <ion-title>Baking with Gemini</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let image of availableImages">
        <ion-card class="ion-activatable" (click)="selectImage(image.url)">
          <ion-img [src]="image.url"></ion-img>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Generated Recipe</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text [innerHTML]="formattedOutput"></ion-text>
    </ion-card-content>
  </ion-card>

  <ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

  <ion-button type="submit" (click)="onSubmit()" [disabled]="isLoading">
    <ion-icon name="cafe-outline" slot="start"></ion-icon>
    Generate Recipe
  </ion-button>
</ion-content>
